body {
  background-color: #e6e6ff;
  font-family: Arial, sans-serif;
}
.heading {
  margin: 0 0 10px 5px;
  justify-content: center;
}

.quote-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 5px 5px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.quote-card:hover {
  transform: scale(1.05);
}

.saved-quotes {
  margin-top: 20px;
}

.saved-quotes h3 {
  color: #4b0082;
}

.saved-quotes ul {
  list-style-type: none;
  padding: 0;
}

.saved-quotes li {
  background-color: #f0e68c;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

/* Carousel Styles */
.carousel-container {
  max-width: 600px;
  margin: 0 auto;
}

.carousel-item {
  background-color: #f0e68c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.button {
  background-color: #4b0082;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  justify-content: center;
}

.button:hover {
  background-color: #6a0dad;
  transform: scale(1);
}

.button:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}
